{% extends 'layouts/layout.html.twig' %}

{% block content %}
    <form method="post">
            <div class="login">
                <br>
                <h1>Se connecter</h1>
                <br>
                <label class="login-text" for="inputEmail">Adresse e-mail</label>
                <input class="login-area1" type="email" value="{{ last_username }}" name="email"
                       autocomplete="email" required autofocus>

            </div>
            <div class="login">
                <label class="login-text" for="inputPassword">Password</label>
                <input class="login-area2" type="password" name="password"
                       autocomplete="current-password" required>

            </div>
            <input type="hidden" name="_csrf_token"
                   value="{{ csrf_token('authenticate') }}"
            >

            <div class="login">
                <button type="submit">Envoyer</button>
            </div>

            <p>Pour créer un compte, veuillez cliquer <a href="/register" class="register-btn">ICI</a></p>
    </form>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>


{% endblock content %}