{% extends 'layouts/layout.html.twig' %}


{% block title %}Log in!{% endblock %}


{% block content %}

    <div class="container px-4 px-lg-5">
        <div class="login">
            <br>
            <h2 class="">S'inscrire</h2>
            <div>{{ form(registerForm) }}</div>
        </div>
    </div>

{% endblock content %}