{% extends 'layouts/layout.html.twig' %}

{% block content %}
    <div class="formText">
        <h7>Modifier votre Commentaire:</h7>
        <br>
        <br>
    </div>

    <div>
        {{ form(editCommentForm) }}
    </div>

{% endblock content %}