{% extends 'layouts/layout.html.twig' %}

{% block content %}
    <div class="container px-4 px-lg-5">
        <div class="container-library">
            <br>
            <h2>Mes animés en favoris: </h2>

{#            {% for  library in  %}#}



    {#        {% endfor %}#}


    {#        <a href="/anime"><img class="imageLibrary" src="{{ asset("images/digital-standard.jpg") }}"#}
    {#                              alt="kimetsu no yaiba"></a>#}

    {#        <a href="/anime"><img class="imageLibrary" src="{{ asset("images/zdwfbkt301n51.jpg") }}"#}
    {#                              alt="jujutsu kaisen"></a>#}
    {#        <a href="/anime"><img class="imageLibrary" src="{{ asset('images/Shingekinokyojin-01-kodansha.jpg') }}"#}
    {#                              alt="Snk"></a>#}

    {#    </div>#}
    {#    <a href="/"><p class="backToIndex">Pour trouver de nouveaux animés c'est par ici. </p></a>#}



        </div>
    </div>
{% endblock content %}