{% extends 'layouts/layout.html.twig' %}

{% block content %}

    <div class="container px-4 px-lg-5">
        <div class="login">
            <br>
            <h1>Se connecter</h1>
            <br>
            <label class="login-text" for="name">Pseudo: </label>
            <input class="login-area1" type="text" required>

        </div>
        <div class="login">
            <label class="login-text" for="password">mot de passe: </label>
            <input class="login-area2" type="password" name="password" required>
        </div>

        <div class="login">
            <button type="submit">Envoyer</button>
        </div>


    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>
{% endblock content %}